@font-face {
    font-family: "Inter-regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;/*подмена системным, когда загрузился то показывает наш шрифт*/
    src: local("Inter-regular"),
    url("../fonts/Inter-Regular.woff2"),
    url("../fonts/Inter-Regular.woff");
}
@font-face {
    font-family: "Oswald-Medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;/*подмена системным, когда загрузился то показывает наш шрифт*/
    src: local("Oswald-Medium"),
    url("../fonts/Oswald-Medium.woff2") format("woff2"),
    url("../fonts/Oswald-Medium.woff") format("woff");
}
@font-face {
    font-family: "Open-sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;/*подмена системным, когда загрузился то показывает наш шрифт*/
    src: local("Open-sans"),
    url("../fonts/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans.woff") format("woff");
}
.bg-aqua{
    background-color: #1ABC9C;
}

.flex{
    display: flex;
}
.flex-justify--between{
    justify-content: space-between;
}


.flex-direction--column{
    flex-direction: column;
}

.header{
    width: 100%;
    padding: 21px 70px;
    align-items: center;
    
}
.gap-20{
    gap: 20px;
}
.gap-25{
    gap: 25px;
}
.nav {
    line-height: 30px;
    font-size: 25px;
    font-family: "Inter-regular", Times, serif;
}
.nav a {
    text-decoration: none;
    color: black;
}
/*> раюотает тольок на детей тега header*/
.header > img {
    width: 101px;
    height: 26px;
    object-fit: contain;/*растягивает логотип на заданные размеры*/
}
body{
    /*width: 1512px;
    display: block;*/
    margin-left: auto;
    margin-right: auto
}
footer{
    padding: 84px 70px 76px;
}
footer >h2{
    
    margin-bottom: 55px;

}
.position-relative{
    position: relative;
}
.arena-text-block{
    position: absolute;
    width: 364px;
    left: 0;
    /* top: 240px; */
    bottom: 25px;
    margin-left: 36px;
    margin-right: 36px;
}
.arena-text{
    font-family: "Open-sans";
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.width-50{
    width: 50%;
}
.centered{
    display: flex;
    justify-content: center;
    
}
.arena2-article{
    background-image: url("../images/arena.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 377px;
    width: 437px;
    padding-bottom: 20px;
    padding-left: 40px;
}
.projects-outer-block{
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 124px;
    padding-bottom: 126px;
    background-color: #DCFFEB;
    
}

.padding-bottom--50{
    padding-bottom: 50px;
}

.margin-right--64{
    
    margin-right: 64px;
}

.gap-37{
    gap:37px;
}

.aboutus-textblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
    align-items: center;
}
.aboutus-textblock p{
    text-align:justify;
    align-items: center;
    justify-content: center;

}
.aboutus-textblock h1{
    margin-bottom: 23px;
}
h1{
    text-align: center;
}
.contacts-item{
    align-items: center;
    width: 316px;
    

}
.contacts-item address{
    font-style: normal;
    text-align: center;
}
.contacts-item p{
    font-style: normal;
    text-align: center;

}
.title--oswald-24{
    font-size: 24px;
    line-height: 36px;
    font-family: "Oswald-Medium", Times, serif;
    font-weight: 500;
}
.contacts-item--icon{
    color: #F7654A;
    font-size: 48px;
}
.text-grey{
    color:  #999999;
}
.text-black{
    color: #000;
}
.text-white{
    color:#FFFFFF;
}
.contacts-link--phone {
    text-decoration: none;
    color: #000;
}
.contacts-link--email{
    text-decoration: none;
    color: #F7654A;
}
.contacts-section{
    padding-left:69px;
}
.text-big{
    margin-left: 0px;
    margin-block-start: 0;
    font-size: 35px;
    line-height: 42px;
    font-family: "Inter-regular";
    font-weight: 400;
}
.text-reg{
    font-family: "Inter-regular", Times, serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;

}
